<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/site.css" rel="stylesheet" media="screen">
    </head>
  <body>
        <div class="welcome px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Welcome to the XYZ Demo App!</h2>
            <br>
            <div class="col-lg-6 mx-auto">
                <p>Click <a href="/magic">here</a> to see the magic word.</p>
                <p>Click <a href="/json">here</a> to see the magic word as an object.</p>
            </div>
        </div>
    </body>
</html>
